body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.nft-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 250px;
  vertical-align: top;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nft-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  border-radius: 6px;
}

#nfts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.metadata p {
  word-break: break-word;
  white-space: normal;
  font-size: 14px;
  margin: 4px 0;
  text-align: left;
}
